*{
    margin:0;
    padding:0;
}
.main{
    width:100%;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%),url(main.jpg);
    background-position: center;

    
    background-repeat: repeat;
    background-size: contain;
    
    

    
    

}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: rgb(171, 2, 255);
    font-size: 35px;
    font-family: arial;
    padding-left: 0px;
    float: left;
    padding-top: 10px;
    
}
img{
   margin-top: 16px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 20px;
}
ul li a{
    text-decoration:none;
    color: antiquewhite;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;

}
ul li a:hover{
    color: rgba(128, 0, 247, 0.635);
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 50px;
    margin-top: 70px;

}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content h2{
    font-size: 30px;
    margin-top: -150px;
    color:aliceblue

}
.center{
   position: absolute;
   top: 56%;
   left: 50%;
   transform: translate(-50%,-50%);
   width:400px;
   background:transparent;
   border-radius: 10px;
}
.center h1{
   text-align: center;
   padding: 0 0 -10px 0;
   font-size: 50px;
   color: antiquewhite;
   font-family: arial;
}
.center form{
   padding: 0 40px;
   box-sizing: border-box;
}
form .txt_field{
   position: relative;
   border-bottom: 2px solid #adadad;
   margin:30px 0;
}
.txt_field input{
   width:100%;
   padding:0 5px;
   height:40px;
   font-size:16px;
   border: none;
   background: none;
   outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform:translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;


}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(119, 3, 190);
  transition: .5s;

}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
   top:-5%;
   color:white;

}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
   width: 100%;

}
.pass{
   margin: -5px 0 20px 5px;
   color: #a6a6a6;
   cursor: pointer;
}
.pass:hover{
   text-decoration: underline;


}
input[type="submit"]{
  width: 100%;
  height:50px;
  border:1px solid;
  background: rgb(119, 3, 190);
  border-radius: 25px;
  font-size: 18px;
  color:#e9f4fb;
  
}
input[type="submit"]:hover{
  border-color: #8b26d9f3;
  transition: .5s;
}
.signup_link{
   margin:30px 0;
   text-align: center;
   font-size: 16px;
   color:white;
}
.signup_link a{
   color:#8b26d9f3;
   text-decoration: none;
}
.signup_link a:hover{
   text-decoration: underline;
}
 .container{
 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  white;
    margin:40px 20px 0 20px;
 }
 .container .head1{
    width:50%;
    padding-bottom: 50px;

 }
 .container .head1 h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom:10px;
    border-bottom: 2px solid white;
   

 }
 .container .head1 h3 span{
    
    font-weight: 100;
   

 }
 .container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

 }
 .container .box .dream{
   display: flex;
   flex-direction: column;
   width:32.5%;

}
.container .box .dream img{
   width:100%;
   padding-bottom: 15px;
   border-radius: 5px;

}
.containo{
   width:80%;
   margin:50px auto;
   color: white;
   font-family: 'Poppins', sans-serif;
   
}
.contactbox{
   background: #fff;
   display: flex;

}
.contactleft{
   flex-basis: 60%;
   padding: 40px 60px ;
   color: black;
}
.contactright{
   flex-basis: 60%;
   padding: 40px ;
   background: #1c00b5;
   color:#fff;
}
h1{
   margin-bottom: 10px;
}
.containo p{
   margin-bottom: 40px;
}
.inputrow{
   
   justify-content: space-between;
   
   margin-bottom: 20px;
}
.inputrow .inputgroup{
   flex-basis:45%;
}
input{
   width: 100%;
   border: none;
   border-bottom: 1px solid #ccc;
   outline: none;
   padding-bottom: 5px;
}


